bazel-*
*.pyc
.#*
log/*
supervise
jipr/static/binary/
jipr/static/releases/
pictures for sam
gallery-uploads
web-bin
.web-bin-copy
*ansi-term*
system-index.txt
.sass-cache
repl.lisp-repl
*.64ufasl
*.64ofasl
*.fasl
/config.lisp
/build
/assets
screenshotbot-installer.sh
analytics-log-file.log
*.lx64fsl
.moma.yml
*.64xfasl
nohup.out
sandbox
*~
*.64yfasl

# competitive programming
input
buck-out
.buckd
dummy-input
.buckconfig.local
static-web-output
amazon-acceptance-test.zip
tmp-upload
.secrets
.qlot
.vagrant
.env
a.out
cl-cron.log

# HubSpot config file
hubspot.config.yml
