* {
 transition-property: none !important;
 -o-transition-property: none !important;
 -moz-transition-property: none !important;
 -ms-transition-property: none !important;
 -webkit-transition-property: none !important;

 transform: none !important;
 -o-transform: none !important;
 -moz-transform: none !important;
 -ms-transform: none !important;
 -webkit-transform: none !important;

 animation: none !important;
 -o-animation: none !important;
 -moz-animation: none !important;
 -ms-animation: none !important;
 -webkit-animation: none !important;
}


.sign-up-button {
    box-shadow: none !important;
}

body {
    overflow: hidden !important;
    pointer-events: none !important;
}

html {
    scroll-behavior: auto !important;
    overflow: hidden !important;
}

.github-star-notice {
    /* rendering the github star SVG doesn't seem to be deterministic on
   Selenium, so we're getting rid of it. */
    display: none;
}
