@charset "UTF-8";


$lili-purple: #4d196a;
$lili-red:    #dd5068;
$lili-yellow: #f9d25d;
$lili-light-green: #6acaae;
$lili-green: #4fa96f;

$left-side-menu-width: 14rem;

$section-green: #52ad77;
$section-yellow: #F9D25D;
$section-pink: #DD5068;
$section-blue: #3C42A7;

@import "./bootstrap/scss/functions";
@import "./bootstrap/scss/variables";
$body-background: #f4f5f6;
$card-border-color: darken($body-background, 10%);
@import "./bootstrap/scss/bootstrap";

@import "variables";
@import "breakpoints";
@import "avatar";
@import "headroom-custom";
@import "vendor/baguetteBox";
@import "sidebar";
@import "bootstrap-icons";
@import "split";

@import "material-icons";
@import "montserrat";
@import "roboto";

@import "pro-common";
@import "auth";
@import "billing";
@import "mask-builder";

body {
    font-family: Roboto, "sans-serif";
    font-size: 0.875rem;
}

h4 {
    font-size: 1.25rem;
    letter-spacing: 0.0073529412em;
}

.content-page .content {
    letter-spacing: 0.0333333333em;
}

ul.compare-image-header {
    list-style:none;
    padding-left: 0;
    li {
        display: inline-block;

        &::after {
            content: "|";
            color: #888;
            font-size: 1.1rem;
        }

        &:first-child::after {
            /* right after the name of the image */
            display:none;
        }

        &:last-child::after {
            display:none;
        }
    }

}

.change-image {
    max-width: 30vw;
    max-height: 90vh;
}

.change-arrow {
    font-size: 2em;
    margin-top: auto;
    margin-bottom: auto;
}

.screenshot-box-image {
    max-width: 100%;
}

.screenshot-image {
    background-image: url("/assets/images/img-background.png");
    margin-top: 5px;
    position: relative;
    border: 1px solid lightgrey;
    height: auto;
    width: auto;
}

.landing-change-example .screenshot-image {
    background-image: none;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 3px lightgrey;
}

@media(max-width: 768px) {
    // make change image look downwards
    .change-image {
        display: inline-block;
        max-width: 95%;
    }

    .change-arrow {
        display:block;
        width: 100%;
    }

}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid lightgrey;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/* body { */
/*     display: flex; */
/*     flex-direction: column; */
/*     min-height: 100vh; */
/* } */

/* section:last-of-type { */
/*     flex-grow:1; */
/* } */


.full-height {
    min-height: 80vh;
}

h1 {
    padding-top: 0em;
}

.doc-left-nav h2 {
    font-size: 1em;
}

.doc-left-nav li {
    font-size: 0.7em;
}

.doc-left-nav ul {
    list-style-type: none;
    padding-left: 0.5em;
}

.landing-hero-submit {
}

ul.settings-nav {
    padding-left: 0;
    font-size: 1.25em;
}

li.settings-nav-item {
    list-style: none;
    padding-left: 0;
}

.settings-nav-title {
    text-transform: uppercase;
    padding: 1.5em 0em;
}

.setting-item-title {
    font-weight: bold;
    font-size: 1.25em;
    margin-top: 0;
}

.setting-item-subtitle {
    font-weight: 300;
}

.setting-form-group {
    padding-right: 3em;
}

.feature-check-mark.icon-round  {
    font-size: 1rem;
    height: 100%;
    width: 1.5rem;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.feature-check-mark.icon-round > .icon {
    height: 1rem;
}

.feature-check-mark .icon path {
    fill: #f8f9fa;
}

.bg-dark h3 {
    color: $gray-100;
}

.landing-summary {
}

footer ul, footer p {
}

section.features-section .h6 {
    font-size: 1rem;
}

section.features-section .text-muted {
}

section.features-section .text-small {
    font-size: 1rem;
}

.nav-user .account-user-name {
    font-size: 1rem;
}

.taskie-list.nonempty {
    color: $gray-700;
}

table.taskie-list {
    width: 100%;
    background: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    th, td {
        padding-left: 1em;
        padding-right: 1em;
    }

    thead tr {
        border-bottom: 2px solid $body-background;
    }

    tr {
        border-top: 1px solid $body-background;
        border-bottom: 1px solid $body-background;
        height: 3em;

        & td:first-child, & th:first-child {
            padding-left: 1.5rem;
            margin-right: 1.5rem;
        }

        & td:last-child, & th:last-child {
            padding-right: 1.5rem;
        }

        transition: background 0.1s;
    }

    .material-icons {
        color: $gray-500;
    }

    tbody {
        tr:hover {
            background: lighten($primary, 44%);
            transition: background 0.1s;
            padding-left: 0.5rem;
        }

        tr.empty {
            background: white !important;
        }
    }

    td.taskie-timestamp {
    }

    &.checkboxes th:first-child {
        width: 3em;
        border-right: none;
    }

    &.with-avatar th:first-child {
        width: 2em;
        border-right: none;
    }

    &.checkboxes th:nth-child(2) {
        border-left: none;
    }

    &.with-avatar th:nth-child(2) {
        border-left: none;
    }

    &.with-avatar td:first-child {
        width: 2em;
        padding: 0 1em;
    }

    th {
        height: 3.2rem;
        background: #f9fafa;
        color: #888f91;
        border: 1px solid $body-background;

        &:first-child {
            border-left: 0px solid $body-background;
        }
    }

}

body.screenshotbot {
    table.taskie-list {
        tr {
            transition: none !important;
        }
    }
}

.taskie-row {

    ul, li {
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0;
        padding-bottom:0;
    }
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}


ul.landing-summary li {
    list-style: none;
    padding-left: 0;
}

footer label {
    color: $gray-100;
}


.about-us-image {
    object-fit:cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 10px 5px $gray-200;

}

.navbar-brand-logo {
    height: 1.5rem;
    margin-bottom: 0.17em;
}

.navbar-brand {
    display: inline-block;
    vertical-align: middle;
}

.footer-brand-image {
    height: 1.5rem;
}

.auth-brand-image {
    height: 1.5rem;
}

.leftside-menu .logo {
    margin-left: auto;
    margin-right: auto;

}

.leftside-menu .logo-lg img {
    height: 1.4rem;
    width: auto;
}

.leftside-menu .logo-sm img {
    height: 1.4rem;
    width: auto;
}

.landing-pitch .text-muted {
    color: $gray-700 !important;
}

.card-pricing .card-footer {
    border-top: none;
    margin-bottom: 1em;
}

.card-pricing {
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    z-index: 9999;
}

.headroom--not-top.navbar-dark {
    background: #00116edd ;
}

.headroom--not-top.navbar-light {
    background: #fafbfeee;
}

body > section:nth-child(2) {
    padding-top: 6em !important;
}

.image-comparison-modal-image {
    max-width: 100%;
    max-height: 70vh;
}

canvas.image-comparison-modal-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.change-image-row-triple {
    img {
        max-height: 75vh;
    }
}

.image-comparison-modal .modal-dialog {
    min-width: 80%;
}

.doc-image {
    max-width: 100%;
    box-shadow: 0px 0px 8px #888888;
}

.home-brand-logo {
    max-width: 100%;

}

.home-brand-wrapper {
    display: flex;
    align-items: center;
}

.run-page-image {
    max-width: 100%;
    max-height: 25em;
    width: auto;
    height: auto;
}

.screenshot-header {
    h4 {
        max-width: 100%;
        margin: 0;
        font-size: 1em;
    }

    h6 {
        color: gray;
        font-size: 0.7em;
        margin: 0;
    }
    ul.screenshot-options-menu {
        padding-left: 0;
        display: inline;
        font-size: 0.75rem;

        margin-bottom: 0;
        li {
            margin-left: 0;
            list-style: none;
            display: inline;
            padding-left: 0;
        }

        li + li:before {
            content: " | ";
        }

    }
}

.report-result {
    .card-body {
        padding-top: 0.375rem;
    }
}


.page-title-box {
    margin-top: 2em;
    .page-title {
        display: inline;
    }
    .dropdown {
        display: inline;
    }
}

.acceptable {
    /* the btn adds a border radius, remove it */
    border-radius: 0;
    &.accept-link {
        color: $green !important;
    }

    &.reject-link {
        color: $red !important;
    }
}

.dropdown-report-accepted {
    background: $green;
}

.dropdown-report-accepted {
    background: $green !important;

    &:hover {
        background: darken($green, 5%) !important;
    }
}

.dropdown-report-rejected {
    background-color: $red !important;

    &:hover {
        background-color: darken($red, 5%) !important;
    }
}

#baguetteBox-overlay .full-image img {
    background: url("/assets/images/img-background.png");
}


.pricing-table {
    th {
        .h6 {
            margin-top: 0;
            padding-top: 0;
        }
    }
}

.content-page-old {
    flex: 1;
    padding: 0;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
}

body.dashboard {
    background: $body-background;

    .leftside-menu {
        width: $left-side-menu-width;
        z-index: 100;

        height: 100vh;
        float: left;
        position: fixed;

        .nav-link:hover {
            background: $gray-700;
        }

        .nav-link.active {
            background: none;
            font-weight: 900;
        }


        .nav-link.active:hover {
        }

        .nav-link {
            margin-bottom: 2px;
        }

        .user-full-name {
            letter-spacing: 0.03333333em;
            font-size: 1rem;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }



    overflow-x: hidden;

    .content-page {
        margin-left: calc(#{$left-side-menu-width} + 1em);
        margin-right: 1em;
        .main-content {
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .logo-sm {
        display:none;
    }

    .navbar-toggler {
        display: none;
        color: white;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    @include media-breakpoint-down(sm) {
        .leftside-menu.show {
            width: 100%;
        }
    }

    @media(max-width: 400px) {
        .leftside-menu:not(.show) {
            .logo {
                display: none;
            }
        }
    }

    @mixin wide-screen () {
        .leftside-menu.show {
            z-index: 1000;
            .navbar-toggler {
                display: inline;
            }
            .dropdown {
                padding-top: 0;
            }

            // Give some space for the toggler
            width: calc(#{$left-side-menu-width} + 4em);
        }

        .leftside-menu.collapsing {
            transition: none;
        }

        .leftside-menu:not(.show) {
            flex-direction: row !important;
            flex-wrap: none !important;
            justify-content: space-between;
            width: 100%;
            float: none;
            position: relative;
            height: auto;


            .navbar-toggler {
                display: inline-block;
                color: white;
            }

            .nav-link {
                padding-right: 0.5em;
                padding-left: 0.5em;
            }
            hr {
                display: none;
            }
            #dropdownUser1 {
                vertical-align: middle;
                height: 100%;
            }

            .nav-item .material-icons {
                padding-right: 0;
            }

            .nav-link .text, .user-full-name {
                display: none;
            }

            ul.nav {
                display:inline-block;
            }

            li.nav-item {
                display: none;
            }
        }

        .content-page {
            margin-left: 1em;
        }

    }

    @include media-breakpoint-down(lg) {
        @include wide-screen;
    }

    &.wide-screen {
        @include wide-screen;
    }

}


a {
    text-decoration: none;
}


.material-icons {
    vertical-align: middle;
}


.account-pages {
    margin-top: 3.125rem !important;

    .auth-brand-image {
        height: 1.5rem;
    }

    input, .btn {
        font-size: 0.9375rem;
        margin-bottom: 0.625rem !important;
        padding: 0.5rem 1.25rem;
    }

    h4 {
        padding-top: 1em;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .card-header {
        padding: 1.5rem !important;
    }

    .card-body {
        padding: 1.5rem !important;
    }
}

.error-500 {
    text-align: center;
    margin-top: 10em;
}


.load-more-button {
    margin-top: 2em;
    margin-bottom: 2em;
    align: center;
}

.card-body .load-more-button {
    margin-bottom: 0em;
    margin-top: 1em;
}


.card-page-container {
    max-width: 50em;
}

.card {
    .card-header {
        h1, h2, h3, h4, h5, h6 {
            margin-top: 0.5rem;
            color: darken(#888f91, 10%);
        }

        h3 {
            font-size: 1.2rem;
        }
    }

    .card-footer {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.compare-header {

    .report-search-wrapper {
        width: 20em;
    }

    .nav-item {
        margin-left: 0.25rem;
    }

    @include media-breakpoint-down(md) {

        display: block;
        justify-content: none;

        .report-search-wrapper {
            display: block;
            margin-bottom: 0.5rem;
            width: 100%;
        }

        .options {
            width: 100%;
        }

        .options .nav {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
    }
}

.acceptance-left-side-bar {
    a.nav-link.text-black {
        color: black !important;
    }

    a.nav-link.text-warning {
        color: $gray-600 !important;
    }
}

.review-panel {
    a.acceptable {
        text-decoration: none;
    }

    .review-tab {

        .close {
            display: none;
        }

        .check {
            display: none;
        }
        &.text-success {
            .check {
                display: inline-block;
            }
        }

        &.text-danger {
            .close {
                display: inline-block;
            }
        }


    }
    .alert-heading {
        font-size: 1.0rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .alert p {
        margin-bottom: 0;
    }
}

.explain-icon {
    color: $gray-400;
    i {
        padding: 0;
        font-size: 1rem;
    }
}

h4.screenshot-title {
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    font-size: 1rem;
    color: $gray-700;
    line-spacing: 0.033333em;

    &:hover {
        white-space: normal;
    }
}

.btn {
    // text-transform: uppercase;
    //letter-spacing: 0.0892857143em;
}

table.git-graph {
    tr:target {
        background-color: $gray-300;
    }

    tr.highlighted {
        background-color: $gray-500;
    }
}
